<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           [src]="appConfig.getAppLogo()"/>
    </div>
    <mat-card class="card-menu-button-Owner">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="toggleProductButtons()">
      <mat-card-content>
        <p>Produs</p>
      </mat-card-content>
    </mat-card>

    <div *ngIf="showProductButtons">
      <mat-card class="card-menu-button" (click)="showProducts('PC/Laptop')">
        <mat-card-content>
          <p> >Laptopuri/PC </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-menu-button" (click)="toggleProductButtons2()">
        <mat-card-content>
          <p> >Componente interne</p>
        </mat-card-content>
      </mat-card>
      <div *ngIf="showProductButtons2">
        <mat-card class="card-menu-button" (click)="showProducts('Procesoare')">
          <mat-card-content>
            <p> >>Procesoare</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-menu-button" (click)="showProducts('PlaciVideo')">
          <mat-card-content>
            <p> >>Placi video</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-menu-button" (click)="showProducts('PlaciDeBaza')">
          <mat-card-content>
            <p> >>Placi de baza</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-menu-button" (click)="showProducts('MemorieRAM')">
          <mat-card-content>
            <p> >>MemorieRAM</p>
          </mat-card-content>
        </mat-card>
      </div>

      <mat-card class="card-menu-button" (click)="toggleProductButtons3()">
        <mat-card-content>
          <p> >Componente externe</p>
        </mat-card-content>
      </mat-card>
      <div *ngIf="showProductButtons3">
        <mat-card class="card-menu-button" (click)="showProducts('Tastaturi')">
          <mat-card-content>
            <p> >>Tastaturi</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-menu-button" (click)="showProducts('Mouse')">
          <mat-card-content>
            <p> >>Mouse-uri</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-menu-button" (click)="showProducts('Monitoare')">
          <mat-card-content>
            <p> >>Monitoare</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-menu-button" (click)="showProducts('Casti')">
          <mat-card-content>
            <p> >>Casti</p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ appConfig.getAppName() }}</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>

    <img class="img-banner"
         src="https://s13emagst.akamaized.net/products/68011/68010301/images/res_09d57ce6a0356d8dc0e640a9a661d4f6.jpg?width=720&height=720&hash=CF2B99287AAB8F7B15799BB6918B76C8"/>
    <img class="img-banner"
         src="https://s13emagst.akamaized.net/products/53990/53989948/images/res_a7121f5c786287a7cd595599d7a0b346.jpg?width=720&height=720&hash=9EBEE3122BE9FCBB8CB16BE295AB7F68
    "/>
    <img class="img-banner"
         src="https://s13emagst.akamaized.net/products/68414/68413775/images/res_618aa13c1c6d3cb0c182d799aba06177.jpg?width=720&height=720&hash=DFE37526B79D59DD28624A389AF6514C
    "/>

    <mat-card class="card-about-us">
      <mat-card-title class="title-about-us">Welcome to {{ appConfig.getAppName() }}</mat-card-title>
      <mat-card-content>

        <div class="div-text">
          <p>
            Bine ați venit la Magazinul Nostru - destinația ta completă pentru pasionații de PC-uri! Suntem aici pentru a-ți oferi cele mai avansate și fiabile componente pentru a-ți construi sau îmbunătăți PC-ul la nivelul următor.
            <br><br>
            Indiferent dacă ești un gamer dedicat în căutarea celor mai puternice plăci video, un creator de conținut în căutare de procesoare performante sau un entuziast care dorește cele mai recente inovații în tehnologia de stocare, avem tot ce ai nevoie pentru a-ți transforma visul PC-ului în realitate.
            <br><br>
            Descoperă o gamă largă de produse de la branduri de top precum Intel, AMD, NVIDIA, ASUS, MSI și multe altele. De la procesoare puternice și plăci video de ultimă generație la soluții de stocare ultrarapide și periferice ergonomice, ne asigurăm că găsești tot ce ai nevoie pentru a-ți personaliza PC-ul în funcție de nevoile tale specifice.
            <br><br>
            Echipa noastră de experți în tehnologie este aici pentru a-ți oferi sfaturi și recomandări personalizate, astfel încât să faci cele mai bune alegeri pentru bugetul și cerințele tale. Și nu uita, avem mereu oferte și promoții speciale pentru a face achiziționarea componentelor PC și mai accesibilă.

          </p>
          <img class="img-section"
               src="https://s13emagst.akamaized.net/products/16317/16316906/images/res_76dc866dd6e7d661eece5ba0979f58d3.jpg?width=720&height=720&hash=786B327A0FDEC358B906E021E4E8E45B
          "/>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-about-us">
      <mat-card-title class="title-about-us">Impeccable Service</mat-card-title>
      <mat-card-content>
        <div class="div-text">
          <img class="img-section" style="margin-left: 0px !important; margin-right: 16px"
               src="https://s13emagst.akamaized.net/products/64569/64568848/images/res_c2506fcd35ade3b39aadcd1ace4f3508.jpg?width=720&height=720&hash=525621C7E6CB5140415A054FD82E3860">

          <p>
            Bine ați venit la magazinul nostru online de componente IT, unde serviciile
            noastre sunt garantate să vă ofere o experiență impecabilă. Cu o pasiune
            pentru tehnologie și o dedicare față de clienți, ne străduim să fim partenerul
            dvs. de încredere în achiziționarea și utilizarea echipamentelor IT.
            Echipa noastră de experți vă stă la dispoziție pentru a vă oferi consultanță
            personalizată în alegerea celor mai potrivite produse pentru nevoile dvs.
            Un aspect deosebit al serviciilor noastre constă în asistența post-vânzare,
            care include instalare, configurare și mentenanță, asigurându-ne că
            echipamentele dvs. funcționează optim. Cu un angajament ferm față de
            satisfacția clienților, vă garantăm că veți găsi nu doar produse de înaltă calitate, ci și servicii impecabile la magazinul nostru de componente IT.
          </p>
        </div>

      </mat-card-content>
    </mat-card>

    <app-list-products [isAdmin]="false"></app-list-products>
  </div>

</mat-drawer-container>

