.slide-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: blue;
  }
  
  .slide-container div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide-container div.active {
    opacity: 1;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  