<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           [src]="appConfig.getAppLogo()"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onHome()">
      <mat-card-content>
        <p>Home</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ appConfig.getAppName() }} {{ productData != null ? ' - ' + productData.name : ''}}</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>

    <div *ngIf="productData">
      <div style="display: inline-flex; margin: 16px ">
        <img [src]="productData.image1" class="image"/>
        <img [src]="productData.image2" class="image"/>
        <img [src]="productData.image3" class="image"/>
        <img [src]="productData.image4" class="image" style="margin-right: 0px"/>
      </div>


      <div style="display: flex">
        <div style="display: ruby; margin-left: auto; margin-right: auto">
          <mat-card class="card-item">
            <mat-card-content>
              <p class="p-title">{{ productData.name | titlecase}} </p>
              <p class="p-description">Description: {{ productData.description }}</p>
              <p>Room Type: {{ productData.productType | titlecase }}</p>
              <p>Price:<span class="p-price">{{ productData.price }} RON</span></p>

              <button mat-raised-button color="primary" class="btn-save" (click)="onBuy()">Buy now!</button>

            </mat-card-content>
          </mat-card>


        </div>
      </div>


    </div>

  </div>


</mat-drawer-container>

