<div class="page-view">
  <mat-card *ngFor="let product of products" class="card-item">
    <img [src]="product.image1" class="image"/>

    <mat-card-content>
      <p class="p-title">{{ product.name | titlecase}} </p>
      <p class="p-description">Description: {{ product.description }}</p>
      <p>Product Type: {{ product.productType | titlecase }}</p>
      <p >Price:<span class="p-price">{{ product.price }} RON</span></p>

      <div *ngIf="isAdmin" class="div-admin-controls">
        <button mat-raised-button color="primary" class="btn-action" (click)="onEdit(product)">Edit</button>
        <div style="height: 16px"></div>
        <button mat-raised-button color="accent" class="btn-action" (click)="onDelete(product)">Delete</button>
      </div>
      <div *ngIf="!isAdmin" class="div-controls">
        <button mat-raised-button color="primary" class="btn-buy" (click)="onBuy(product)">Buy now!</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
